/******************************************************************
STYLESHEET: LINKS

******************************************************************/

a {

    &:link {

    }

    &:visited {

    }

    &:hover,
    &:focus,
    &:active {

    }
}

.nav-listitem--red {
    background-color: $red;
}

.nav-listitem--blue {
    background-color: $blue;
}

.nav-listitem--purple {
    background-color: $purple;
}

.nav-listitem--cyan {
    background-color: $cyan;
}