/******************************************************************
STYLESHEET: CODE

******************************************************************/

.codeblock {
    margin-top: $medium-margin;
    margin-bottom: $medium-margin;

    &-row {
        border-bottom: $medium-margin solid $white;
    }

    &-code {
        background-color: $grey-light;
        color: $grey-dark;
        padding: 15px 20px;
        display: block;
        width: 100%;
        @include fontsize-9;

        &--red {
            color: $red;
        }

        &--blue {
            color: $blue;
        }

        &--purple {
            color: $purple;
        }

        &--cyan {
            color: $cyan;
        }

        &--short {
            font-family: $code-font;
        }
    }
}

@include medium {
    .codeblock {
        display: table;
        width: 100%;

        &-row {
            border-bottom: 0;
            display: table-row;
            width: 100%;
        }

        &-code {
            display: table-cell;

            &--short {
                width: 30%;
                border-right: $small-margin solid $white;
                border-bottom: $small-margin solid $white;
            }

            &--wide {
                width: 70%;
                border-bottom: $small-margin solid $white;
                @include fontsize-10;
            }
        }
    }
}