/******************************************************************
STYLESHEET: HEADING

******************************************************************/

.heading {
    color: $white;

    &--red {
        background-color: $red;
    }

    &--blue {
        background-color: $blue;
    }

    &--purple {
        background-color: $purple;
    }

    &--cyan {
        background-color: $cyan;
    }

    &-sep {
        width: 70px;
        border-top: 2px solid $white;
        margin: 0 auto;
    }

    &-text {
        text-align: center;
    }
}