/******************************************************************
STYLESHEET: NAV

******************************************************************/

.nav {
    background-color: $black;
    margin: 0;
    font-family: $link-font;
    font-weight: bold;
    @include fontsize-7;
    text-transform: uppercase;

    &-list {
        list-style-type: none;
        text-align: center;
        padding: 0;
    }

    &-listitem {
        width: 25%;
        float: left;
    }

    &-link {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: $white;
        padding-top: $medium-padding;
        padding-bottom: $medium-padding;
        position: relative;

        &::after {
            content: '';
            transition: bottom 0.1s ease-in-out;
            width: 0;
            height: 0;
            position: absolute;
            left: 50%;
            margin-left: -20px;
            bottom: -10px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
        }

        &--red {

            &:hover {

                &::after {
                    border-bottom: 10px solid $red;
                    bottom: -1px;
                }
            }

            &--active {

                &::after {
                    border-bottom: 10px solid $red;
                    bottom: -1px;
                }
            }
        }

        &--blue {

            &:hover {

                &::after {
                    border-bottom: 10px solid $blue;
                    bottom: -1px;
                }
            }

            &--active {

                &::after {
                    border-bottom: 10px solid $blue;
                    bottom: -1px;
                }
            }
        }

        &--yellow {

            &:hover {

                &::after {
                    border-bottom: 10px solid $yellow;
                    bottom: -1px;
                }
            }

            &--active {

                &::after {
                    border-bottom: 10px solid $yellow;
                    bottom: -1px;
                }
            }
        }

        &--cyan {

            &:hover {

                &::after {
                    border-bottom: 10px solid $cyan;
                    bottom: -1px;
                }
            }

            &--active {

                &::after {
                    border-bottom: 10px solid $cyan;
                    bottom: -1px;
                }
            }
        }
    }
}

@include medium {
    .nav {
        @include fontsize-9;
    }
}

@include large {
    .nav {
        @include fontsize-10;
    }
}