/******************************************************************
STYLESHEET: NAV

******************************************************************/

.nav {
    background-color: $black;
    margin: 0;
    font-family: $link-font;
    @include fontsize-7;
    text-transform: uppercase;

    &-list {
        list-style-type: none;
        text-align: center;
        padding: 0;
    }

    &-listitem {
        width: 25%;
        float: left;
    }

    &-link {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: $white;
        padding-top: $medium-padding;
        padding-bottom: $medium-padding;
        position: relative;

        &::after {
            content: '';
            transition: 0.5s ease-out;
            width: 0;
            height: 0;
            position: absolute;
            left: 50%;
            margin-left: -15px;
            bottom: -1px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
        }

        &--red {

            &::after {
                border-bottom: 10px solid $red;
            }
        }

        &--blue {

            &::after {
                border-bottom: 10px solid $blue;
            }
        }

        &--purple {

            &::after {
                border-bottom: 10px solid $purple;
            }
        }

        &--cyan {

            &::after {
                border-bottom: 10px solid $cyan;
            }
        }
    }
}

@include medium {
    .nav {
        @include fontsize-9;
    }
}

@include large {
    .nav {
        @include fontsize-10;
    }
}