/******************************************************************
STYLESHEET: TEXT

******************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin: 0;
    padding-top: 0;
    padding-bottom: $small-padding;
}

@include medium {
    h1 {
        @include fontsize-22;
    }
}

@include large {
    h1 {
        @include fontsize-24;
    }
}

h2 {
    margin-bottom: $small-margin;
    margin-top: $large-margin;
}

@include medium {
    h2 {
        @include fontsize-18;
    }
}

@include large {
    h2 {
        @include fontsize-20;
    }
}

h3 {
    margin-bottom: $medium-margin;
    margin-top: $medium-margin;
    color: $grey;
}

@include medium {
    h3 {
        @include fontsize-14;
    }
}

h4 {
    margin-bottom: $small-margin;
    margin-top: $small-margin;
}

@include medium {
    h4 {
        @include fontsize-12;
    }
}

h5 {

}

h6 {

}

p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

@include medium {
    p {
        @include fontsize-12;
    }
}

.text {
    margin-bottom: $medium-margin;

    &-red {
        color: $red;
    }

    &-blue {
        color: $blue;
    }

    &-purple {
        color: $purple;
    }

    &-cyan {
        color: $cyan;
    }

    &-footer {
        padding-top: $medium-padding;
        padding-bottom: $medium-padding;
        font-family: $link-font;
        @include fontsize-7;
    }
}

@include medium {
    .text {

        &-footer {
            @include fontsize-9;
            margin-bottom: 0;
        }
    }
}

@include large {
    .text {

        &-footer {
            @include fontsize-10;
        }
    }
}