/******************************************************************
STYLESHEET: VARIABLES

    > COLORS
    > FONTS
    > BREAKPOINTS
    > MARGINS_PADDINGS

This is the place for all variables.
******************************************************************/

// COLORS
$white:      #fff;
$black:      #272b2f;
$grey:       #d9d9dd;
$grey-dark:  #555;
$grey-light: #f5f5f9;

$red:    #d75056;
$blue:   #4d97cd;
$yellow: #f5d25a;
$cyan:   #40bbae;


// FONTS
$merriweathersans: 'Merriweather Sans', 'Helvetica', 'Arial', 'sans-serif';
$opensans: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
$firamono: 'Fira Mono', 'Courier New', 'Consolas', 'monospace';

$base-font:    $opensans;
$heading-font: $merriweathersans;
$link-font:    $merriweathersans;
$text-font:    $opensans;
$code-font:    $firamono;


// BREAKPOINTS
$medium-width: 641px;
$large-width:  1361px;


// MARGINS
$small-margin: 10px;
$medium-margin: 30px;
$large-margin: 50px;


// PADDINGS
$small-padding: 10px;
$medium-padding: 30px;
$large-padding: 50px;