/******************************************************************
STYLESHEET: GRID

******************************************************************/

.wrapper {
    padding: 50px 5%;

    &-inner {
        max-width: 820px;
        margin: 0 auto;
    }
}

@include medium {
    .wrapper {
        padding: 70px 5%;
    }
}

@include large {
    .wrapper {
        padding: 100px 20%;
    }
}

.footer {
    color: $white;
    background-color: $black;
    text-align: center;
    position: relative;
    padding-top: 50px;

    &-article {
        margin-top: 100px;
    }

    &-logo {
        display: block;
        margin: 0 auto;
        //position: absolute;
        //left: 50%;
        //margin-left: -15px;
        //top: $medium-margin;
        width: 200px;
    }
}