/******************************************************************
STYLESHEET: ICONS

******************************************************************/

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 10px auto 0 auto;

    &--red {
        border-bottom: 15px solid $red;
    }

    &--blue {
        border-bottom: 15px solid $blue;
    }

    &--purple {
        border-bottom: 15px solid $purple;
    }

    &--cyan {
        border-bottom: 15px solid $cyan;
    }
}